nav{
	display: none;
}
.container{
	height: 100%;
	margin: 0px auto;
	max-width: 1192px;
	/*background: rgba(245,245,245,1);*/
	padding: 10px 20px;
	/*border: 1px solid #eee;*/ /* Параметры рамки */
	-moz-box-sizing: border-box; /* Для Firefox */  
	box-sizing: border-box; /* Ширина блока с полями */
}
.header{
	margin: 40px 0px;
	/*padding: -2px;*/
	/*border: 1px solid #eee;*/
	/*border-bottom: 1px solid #eee;*/
}
h1{
	display: inline-block;
	vertical-align: top;
	font-weight: 500;
	font-size: 19px;
	margin: 15px 0px;
	/*border: 1px solid #eee;*/
}
h2{
	display: inline-block;
	vertical-align: top;
	/*height: auto;*/
	font-weight: 500;
	font-size: 17px;
	margin: 0px 0px 15px 0px;
	/*border-bottom: 1px solid #eee;*/
}
p{
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	display: block;
	position: relative;
	width: 100%;
	font-size: 15px;
}
p.p_name{
	font-weight: 500;
	color: rgba(0,0,0,.8);

}
p.no_margin{
	margin: 0px 0px 0px 0px;
}
.tab-row{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: left;
	justify-content: left;
	-webkit-align-items: left;
	align-items: left;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	/*border: 1px solid #eee;*/
	-moz-box-sizing: border-box; /* Для Firefox */  
	box-sizing: border-box; /* Ширина блока с полями */
}
.tab-inline{	
	-webkit-align-self: stretch;
	align-self: stretch;
	overflow: hidden;
	padding: 0px;
	margin: 0px 0px 60px 0px;
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: left;
	justify-content: left;
	-webkit-align-items: left;
	align-items: left;
	-webkit-flex-direction: column;
	flex-direction: column;
	/*border: 1px solid #eee;*/
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	vertical-align: middle;
	font-size: 15px;
	font-weight: 300;
}
#tab1{
	width: 60%;
	padding: 0px 30px 0px 0px;
}
#tab2{
	width: 40%;
	padding: 0px 0px 0px 30px;
}
.tab_content{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: left;
	justify-content: left;
	-webkit-align-items: left;
	align-items: left;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	/*border: 1px solid #eee;*/
	-moz-box-sizing: border-box; /* Для Firefox */  
	box-sizing: border-box; /* Ширина блока с полями */
}

.content {
	-webkit-align-self: stretch;
	align-self: stretch;
	overflow: hidden;
	/*padding: 0px 5px 10px 5px;
	margin: 0px 0px 0px 0px;*/
	width: 33.33%;
	height: 220px;
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	/*border: 1px solid #eee;*/
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	background-size: 100px auto;
	vertical-align: middle;
}

.item{
	width: 100%;
	height: 100%;
	padding: 15px;
	-webkit-align-self: stretch;
	align-self: stretch;
	overflow: hidden;
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-size: 100px auto;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #d6d6d6;

	font-weight: 300;
}

.item strong{
	position: relative;
	width: 100%;
	border-top: 1px solid #eee;
	margin: 5px 0px 0px 0px;
	padding: 3px;
}
.out{
	/*display: none;*/
	opacity: 1;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	border: none;
}
.in{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	opacity: 0;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	/*background: rgba(0,0,0,.6);*/
	/*color: #fff;*/
}

.content:hover .in{
	opacity: 1;
		
}

.content:hover .out{
	opacity: 0;
}


footer.footer{
	display: block;
	position: relative;
	border-top: 1px solid #eee;
	padding: 80px 0px;
	margin: 80px 0px 0px;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}


















@media screen and (max-width: 960px) {
	/*.codrops-header h1 {
		font-size: 3em;
	}*/
	.content {
		width: 50%;
		height: 400px;
	}
	#tab1{
		width: 60%;
		padding: 0px 30px 0px 0px;
	}
	#tab2{
		width: 40%;
		padding: 0px 0px 0px 30px;
	}

	/*.content--related {
		font-size: 0.9em;
	}*/
}
@media screen and (max-width: 550px) {
	/*.codrops-header h1 {
		font-size: 3em;
	}*/
	.content {
		width: 100%;
	}
	#tab1{
		width: 100%;
		padding: 0px 0px 0px 0px;
	}
	#tab2{
		width: 100%;
		padding: 0px 0px 0px 0px;
	}
	/*.content--related {
		font-size: 0.9em;
	}*/
}